{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jiffy, "1.1.1"},
    {jose, "1.11.5"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [api_erlang_crud]}
]}.

{relx, [
    {release, {api_erlang_crud, "0.1.0"}, [api_erlang_crud]},
    {mode, dev},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true}
        ]}
    ]}
]}.
